@page "/clubActivitiessummary"

@inject IStravaClubStatsService StravaClubStatsService;

<style>
    .sort-link
    {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
    }
</style>

<h1>Club Activities Summary</h1>

@if (clubActivitiesSummaries == null  && !isInvalidClubActivities)
{
    <p><em>Loading...</em></p>
}
else if(isInvalidClubActivities)
{
    <div style="color:red; padding-bottom: 20px;">
        <p><em>@errorMessage</em></p>
    </div>
}
else
{
    <table style="width: 1024px; margin-top: 15px;">
        <tr>
            <th>
                <span class="sort-link" onclick=@(() => SortTable("FirstName"))>First Name</span>
                <span>@(GetSortStyle("FirstName"))</span>
            </th>
            <th>
                <span class="sort-link" onclick=@(() => SortTable("LastName"))>Last Name</span>
                <span>@(GetSortStyle("LastName"))</span>
            </th>
            <th style="text-align:center;">
                <span class="sort-link" onclick=@(() => SortTable("TotalDistanceInKilometers"))>Distance (KMs)</span>
                <span>@(GetSortStyle("TotalDistanceInKilometers"))</span>
            </th>
            <th style="text-align:center;">
                <span class="sort-link" onclick=@(() => SortTable("TotalElapsedTimeInHours"))>Elapsed Time (Hours)</span>
                <span>@(GetSortStyle("TotalElapsedTimeInHours"))</span>
            </th>
            <th style="text-align:center;">
                <span class="sort-link" onclick=@(() => SortTable("TotalMovingTimeInHours"))>Moving Time (Hours)</span>
                <span>@(GetSortStyle("TotalMovingTimeInHours"))</span>
            </th>
            <th style="text-align:center;">
                <span class="sort-link" onclick=@(() => SortTable("TotalElevationGainInKilometers"))>Elevation Gain (KMs)</span>
                <span>@(GetSortStyle("TotalElevationGainInKilometers"))</span>
            </th>
        </tr>
    @foreach(var clubActivitiesSummary in clubActivitiesSummaries)
    {
        <tr>
            <td>@clubActivitiesSummary.FirstName</td>
            <td>@clubActivitiesSummary.LastName</td>
            <td style="text-align:center;">@TidyStravaMetric(clubActivitiesSummary.TotalDistanceInKilometers)</td>
            <td style="text-align:center;">@TidyStravaMetric(clubActivitiesSummary.TotalElapsedTimeInHours)</td>
            <td style="text-align:center;">@TidyStravaMetric(clubActivitiesSummary.TotalMovingTimeInHours)</td>
            <td style="text-align:center;">@TidyStravaMetric(clubActivitiesSummary.TotalElevationGainInKilometers)</td>
        </tr>
    }
    </table>
}